<div class="grid grid-cols-2 gap-4 mb-6">
    <div class="bg-[#1B1E31] p-6 rounded-2xl border-l-4 border-yellow-400 text-center shadow-lg relative overflow-hidden">
        <i class="fas fa-crosshairs absolute right-[-10px] bottom-[-10px] text-6xl text-white/5"></i>
        <p class="text-gray-400 text-sm font-bold uppercase tracking-widest mb-1 relative z-10">Total Targets</p>
        <h2 id="total-targets" class="text-4xl font-black text-yellow-400 relative z-10 drop-shadow-md">0</h2>
    </div>
    <div class="bg-[#1B1E31] p-6 rounded-2xl border-l-4 border-emerald-400 text-center shadow-lg relative overflow-hidden">
        <i class="fas fa-robot absolute right-[-10px] bottom-[-10px] text-6xl text-white/5"></i>
        <p class="text-gray-400 text-sm font-bold uppercase tracking-widest mb-1 relative z-10">Active Bots</p>
        <h2 id="total-bots" class="text-4xl font-black text-emerald-400 relative z-10 drop-shadow-md">0</h2>
    </div>
</div>